<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bs.miniprm.mapper.DriverMapper" >
  <resultMap id="BaseResultMap" type="com.bs.miniprm.pojo.Driver" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="driver_id" property="driverId" jdbcType="INTEGER" />
    <result column="driver_name" property="driverName" jdbcType="VARCHAR" />
    <result column="driver_age" property="driverAge" jdbcType="INTEGER" />
    <result column="driver_company" property="driverCompany" jdbcType="VARCHAR" />
    <result column="driver_applyDate" property="driverApplydate" jdbcType="DATE" />
    <result column="driver_firstDate" property="driverFirstdate" jdbcType="DATE" />
    <result column="driver_lastDate" property="driverLastdate" jdbcType="DATE" />
    <result column="license_number" property="licenseNumber" jdbcType="VARCHAR" />
    <result column="license_type" property="licenseType" jdbcType="VARCHAR" />
    <result column="license_score" property="licenseScore" jdbcType="INTEGER" />
    <result column="license_status" property="licenseStatus" jdbcType="INTEGER" />
    <result column="license_vioRecord" property="licenseViorecord" jdbcType="VARCHAR" />
    <result column="license_deduction" property="licenseDeduction" jdbcType="INTEGER" />
  </resultMap>
</mapper>