<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bs.miniprm.mapper.TrmanMapper" >
  <resultMap id="BaseResultMap" type="com.bs.miniprm.pojo.Trman" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="trMan_id" property="trmanId" jdbcType="INTEGER" />
    <result column="trMan_name" property="trmanName" jdbcType="VARCHAR" />
    <result column="trMan_grades" property="trmanGrades" jdbcType="CHAR" />
    <result column="trMan_company" property="trmanCompany" jdbcType="VARCHAR" />
  </resultMap>
</mapper>
